 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .slider{
        padding: 50px;
    }
    .slider h1{
        font-size: 20px;
    }
    .slider p{
        font-size: 12px;
    }
    .slider button{
       margin-bottom: 20px;
    }

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .slider{
        padding: 60px;
    }
    .slider h1{
        font-size: 25px;
    }
    .slider p{
        font-size: 14px;
    }
    .slider button{
       margin-bottom: 50px;
    }

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }

 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }